sudo: false
language: go

go:
  - 1.5.1

before_install:
  - go get -v golang.org/x/tools/cmd/vet
  - go get -v golang.org/x/tools/cmd/cover

install:
  - go install -race -v std
  - go get -race -t -v ./...
  - go install -race -v ./...

script:
  - go vet ./...
  - go test -cpu=2 -race -v ./...
  - go test -cpu=2 -covermode=atomic ./...
